<div class="content-wrapper">
  <div class="content-container">
    <div class="content-image">
    </div>
    <div class="content-detail">
      <h2 class="content-title"><%= @content.title %></h2>
      <p class="content-description"><%= @content.description %></p>
      <hr>
      <div class="content-content">
        <%= @content.text %>
      </div>
    </div>
  </div>
</div>
