<div class="container container-m">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 rounded-card">
        <img src="/assets/13620.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title p-3"><span class="marker_yellow">資料作成の時間</span></h5>
          <p class="card-text">一回作れば何回でも使い回しができます</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 rounded-card">
        <img src="/assets/49264.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title p-3"><span class="marker_yellow">聞かれる時間</span></h5>
          <p class="card-text">部下の方が見たい時に資料を見ることができます</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 rounded-card">
        <img src="/assets/46090.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title p-3"><span class="marker_yellow">考える時間</span></h5>
          <p class="card-text">動画、写真、YouTubeに対応しているので無理に文章を起こす必要はありません</p>
        </div>
      </div>
    </div>
  </div>
</div>
