<div class = "welcome-board">
  <h1 class = "welcome" >研修アプリへようこそ</h1>
  <ul class = "content-lists">
    <li class = "content"><%= link_to "研修一覧",contents_path%></li>
    <li class = "content"><%= link_to "研修作成", new_content_path%></li>
  </ul>
</div>
