<%# メールの文仮　%>

<p><%= @resource.email %> 様</p>
<br>
<hr>
<br>
<p>パスワードの変更がリクエストされました。以下のリンクから変更を行ってください。</p>
<br>
<p><%= link_to 'パスワードを変更する', edit_admin_password_url(@resource, reset_password_token: @token) %></p>
<br>
<hr>
<br>
<p>もし、このリクエストをしていない場合は、このメールを無視してください。</p>
<br>
<p>リンク先にアクセスし、新しいパスワードを作成するまで、現在のパスワードは有効です。</p>
