/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.navbar-brand {
  margin-left: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alert svg {
  margin-right: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link:hover:hover {
  color: #CCCCCC;
}

.main-image {
  background-color: #fff;
}

footer {
  background-color: #D2691E;
  color: #fff;
  padding: 1rem;
}

#navbar-footer {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}

.footer-logo {
  margin-bottom: 50px;
}

.container {
  display: flex;
}

/* Main content styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Aside styles */
aside {
  width: 30%;
  margin: 20px;
  background-color: #ccc;
  color: #333;
  padding: 10px;
}

aside h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

aside ul {
  list-style: none;
  margin-bottom: 10px;
}

aside ul li a {
  color: #333;
  text-decoration: none;
}

aside form label {
  display: block;
  margin-bottom: 5px;
}

aside form input[type="text"],
aside form input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: none;
}

aside form input[type="submit"] {
  background-color: #333;
  color: #fff;
}

.page-title-react {
  margin-bottom: 20px;
}

.page-title-react h2 {
  text-align: left;
}

#error_explanation li {
  margin-bottom: 8px;
  text-align: left;
  color: red;
}
