.react-page-title {
  padding-left: 30px;
}

.hr {
  height: 1px;
}

.category-title {
  font-weight: 700;
}

.category-title,
.category-description {
  text-align: left;
}

.content-title,
.content-description {
  text-align: left;
}

.content-index {
  max-width: 800px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #FAEBD7;
}

.category-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.category-title p {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.category-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-content {
  margin-top: 20px;
}

.content-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.content-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

.content-mainWrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.content-detail {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #FAEBD7;
  border: 2px solid #ccc;
  padding: 20px;
  position: relative;
}

.content-youtube,
.content-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.content-youtube iframe,
.content-video video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content-create {
  margin: 20px;
}

.content-field {
  margin-bottom: 20px;
}

.sidebar {
  width: 40%;
  margin-right: 20px;
  background-color: #FAEBD7;
  border-radius: 5px;
  color: #333;
  padding: 10px;
}

.category-short {
  margin-top: 20px;
}

.category-short ul li {
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
