/* コンテンツの大枠 */
.react-page-title {
  padding-left: 30px;
}

.hr {
  height: 1px;
}


.category-title {
  font-weight: 700;
}

.category-title,
.category-description {
  text-align: left;
}

/* コンテンツのタイトルと説明 */
.content-title,
.content-description {
  text-align: left;
}

/* コンテンツの中身 */
.content-index {
  max-width: 800px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #FAEBD7;
}

/* コンテンツのタイトル */
.category-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.category-title p {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* コンテンツの説明 */
.category-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
}

/* コンテンツの内容 */
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* コンテンツのタイトルと説明 */
.content-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  /* タイトルを左揃えにする */
}

.content-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
  /* 説明を左揃えにする */
}

.content-mainWrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* 枠線を含めた幅にするために必要 */
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Aside styles */
.sidebar {
  width: 40%;
  margin-right: 20px;
  background-color: #FAEBD7;
  border-radius: 5px;
  color: #333;
  padding: 10px;
}

.category-short {
  margin-top: 20px;
}

.category-short ul li {
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
