.form-text-wrap label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.form-text-wrap input[type="password"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-cation,
.form-bottom-text {
  margin-top: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.info-text {
  margin-top: 8px;
}
