<footer>
  <div class="footer-logo">
    <%= link_to("研修メーカー", root_path, id: "navbar-footer") %>
  </div>
  <div class="contact">
    <p>お問い合わせは <%= link_to "こちら", new_contact_path %></p>
  </div>
  <div class="copy">
    <p>@2023 Genki Sato</p>
  </div>
</footer>
